<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    Hi {{ user.username }},

    Please click on the link to confirm your registration.
    
    {% autoescape off %}
        <a href="http://{{ domain }}{% url 'verify' %}?email={{ email }}&key={{ key }}">Validation key: &#60;{{ key }}&#62;</a>
    {% endautoescape %}
</body>
</html>